@charset "utf-8";
/* Gray Color *//* Alert Color*//* Other Color *//*----------------------------------------------------------------------
 header.css
 ----------------------------------------------------------------------*/body {
  background: #f2f2f2;
}
.header__logo {
  float: left;
  margin: 0;
  padding-left: 30px;
}
.header__logo a {
  display: block;
}
.header__logo a img {
  vertical-align: middle;
}
.header__right {
  float: right;
  padding-right: 20px;
  letter-spacing: -0.4em;
}
.header__right__nav {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}
.header__right__nav__gnav {
  margin: 0;
  padding-left: 0;
  color: #454545;
  list-style-type: none;
  letter-spacing: -0.4em;
}
.header__right__nav__gnav > li {
  display: inline-block;
  position: relative;
  letter-spacing: normal;
  vertical-align: top;
}
.header__right__nav__gnav > li > a {
  display: block;
  padding: 0 24px;
  color: #454545;
  font-size: 14px;
  box-sizing: border-box;
  text-decoration: none;
}
@media (max-width: 1300px) {
  .header__right__nav__gnav > li > a {
    padding: 0 1.6vw;
  }
}
.header__right__nav__gnav > li:hover > a, .header__right__nav__gnav > li.active > a {
  color: #7f2525;
  border-bottom: 3px solid #cb0079;
}
.header__right__nav__gnav > li:hover .header__right__snav, .header__right__nav__gnav > li.active .header__right__snav {
  opacity: 1;
  transition: opacity 0.2s ease;
  z-index: 1;
}
.header__right__nav__gnav > li:hover .header__right__snav__inner, .header__right__nav__gnav > li.active .header__right__snav__inner {
  position: relative;
  margin-top: 14px;
  padding: 12px 8px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 #d9d9d9;
}
.header__right__nav__gnav > li:hover .header__right__snav__inner:before, .header__right__nav__gnav > li.active .header__right__snav__inner:before {
  content: '';
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -8px;
  background: url('../images/snav_bk_arrow.png') no-repeat 50% top;
  width: 16px;
  height: 12px;
}
.header__right__nav__gnav > li:hover .header__right__snav__inner ul > li, .header__right__nav__gnav > li.active .header__right__snav__inner ul > li {
  display: table;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
.header__right__nav__gnav > li:hover .header__right__snav__inner ul, .header__right__nav__gnav > li.active .header__right__snav__inner ul {
  padding-left: 0;
  list-style-type: none;
}
.header__right__nav__gnav > li:hover .header__right__snav__inner ul span, .header__right__nav__gnav > li.active .header__right__snav__inner ul span {
  display: block;
  padding-left: 12px;
}
.header__right__nav__gnav > li:hover .header__right__snav__inner ul a, .header__right__nav__gnav > li.active .header__right__snav__inner ul a {
  display: inline-block;
  padding: 6px 0;
  color: #454545;
  font-size: 14px;
  line-height: 1.5em;
}
.header__right__nav__gnav > li:hover .header__right__snav__inner ul a:hover, .header__right__nav__gnav > li.active .header__right__snav__inner ul a:hover {
  color: #cb0079;
}
.header__right__nav__gnav > li:hover .header__right__snav .header__right__snav__second_title, .header__right__nav__gnav > li.active .header__right__snav .header__right__snav__second_title {
  opacity: 0.5;
  color: #454545;
  font-size: 12px;
}
.header__right__nav__gnav > li:hover .header__right__snav {
  display: block;
}
.header__right__nav__gnav > li.gnav_goteo {
  padding-left: 15px;
}
.header__right__nav__gnav > li.gnav_goteo > a {
  padding: 0;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
.header__right__nav__gnav > li.gnav_goteo {
  padding-top: 11px;
}
.header__right__nav__gnav > li .header__right__snav {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.header__right__nav__gnav > li .header.common_header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
}
.header__right__nav__gnav > li .header.common_header > li.gnav_goteo > a {
  color: #fff;
  background-color: #7f2525;
  border-radius: 4px;
}
.header__right__nav__gnav > li .header.common_header > li.gnav_goteo.active > a, .header__right__nav__gnav > li .header.common_header > li.gnav_goteo:hover > a {
  border-bottom: none;
}
.header__right__nav__gnav a {
  text-decoration: none;
}
.header__right__search_box {
  padding-right: 52px;
}
.header__right__search_box form {
  height: 28px;
  padding-left: 20px;
  padding-right: 10px;
  background-color: #454545;
  border-radius: 15px;
}
.header__right__search_box form input[type="text"] {
  -webkit-appearance: none;
  height: 28px;
  font-size: 14px;
  line-height: 28px;
  background-color: inherit;
  border: none;
  vertical-align: top;
  box-sizing: border-box;
}
.header__right__search_box form input[type="image"] {
  -webkit-appearance: none;
  margin-top: 6px;
}
/*---------- header_menu -------------*/.header__right {
  letter-spacing: -0.4em;
  float: right;
  padding-right: 20px;
}
.header__right > * {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}
.header__right__nav__gnav {
  letter-spacing: -0.4em;
  margin: 0;
  color: #454545;
}
.header__right__nav__gnav > * {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}
.header__right__nav__gnav > li {
  position: relative;
}
.header__right__nav__gnav > li > a {
  display: block;
  padding: 0 24px;
  color: #454545;
  font-size: 14px;
  box-sizing: border-box;
}
.header__right__nav__gnav > li .header__right__snav {
  display: none;
}
.header__right__nav__gnav > li.active > a, .header__right__nav__gnav > li:hover > a {
  color: #7f2525;
  border-bottom: 3px solid #7f2525;
}
.header__right__nav__gnav > li:hover .header__right__snav {
  display: block;
}
.header__right__nav__gnav > li.gnav_goteo {
  padding-left: 15px;
}
.header__right__nav__gnav > li.gnav_goteo > a {
  padding: 0;
  font-size: 12px;
  text-align: center;
}
.header__right__nav__gnav > li .header.common_header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
}
.header__right__nav__gnav > li .header.common_header .header__right__nav__gnav > li.gnav_goteo > a {
  color: #fff;
  background-color: #7f2525;
  border-radius: 4px;
}
.header__right__nav__gnav > li .header.common_header .header__right__nav__gnav > li.gnav_goteo.active > a, .header__right__nav__gnav > li .header.common_header .header__right__nav__gnav > li.gnav_goteo:hover > a {
  border-bottom: none;
}
.header__right__nav__gnav > li .header__right__snav {
  opacity: 0;
  display: none;
  position: absolute;
  z-index: -1;
}
.header__right__nav__gnav > li:hover .header__right__snav {
  opacity: 1;
  display: block;
  transition: opacity 0.2s ease;
  z-index: 1;
}
.header__right__nav__gnav > li:hover .header__right__snav .header__right__snav__inner, .header__right__nav__gnav > li.active .header__right__snav .header__right__snav__inner {
  position: relative;
  margin-top: 14px;
  padding: 12px 8px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.header__right__nav__gnav > li:hover .header__right__snav .header__right__snav__inner:before, .header__right__nav__gnav > li.active .header__right__snav .header__right__snav__inner:before {
  content: '';
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -8px;
  background: url('../images/snav_bk_arrow.png') no-repeat 50% top;
  width: 16px;
  height: 12px;
}
.header__right__nav__gnav > li:hover .header__right__snav .header__right__snav__inner .header__right__snav__second_title, .header__right__nav__gnav > li.active .header__right__snav .header__right__snav__inner .header__right__snav__second_title {
  opacity: 0.5;
  color: #454545;
  font-size: 12px;
}
.header__right__nav__gnav > li:hover .header__right__snav .header__right__snav__inner ul > li, .header__right__nav__gnav > li.active .header__right__snav .header__right__snav__inner ul > li {
  display: table;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
.header__right__nav__gnav > li:hover .header__right__snav .header__right__snav__inner ul > li span, .header__right__nav__gnav > li.active .header__right__snav .header__right__snav__inner ul > li span {
  display: block;
  padding-left: 12px;
  background: url('../images/snav_text_arrow.png') no-repeat left 50%;
}
.header__right__nav__gnav > li:hover .header__right__snav .header__right__snav__inner ul > li a, .header__right__nav__gnav > li.active .header__right__snav .header__right__snav__inner ul > li a {
  display: inline-block;
  padding: 6px 0;
  color: #454545;
  font-size: 14px;
  line-height: 1.5em;
}
.header__right__nav__gnav > li:hover .header__right__snav .header__right__snav__inner ul > li a:hover, .header__right__nav__gnav > li.active .header__right__snav .header__right__snav__inner ul > li a:hover {
  color: #cb0079;
}
.header__right__search_box {
  padding-right: 2vw;
}
.header__right__search_box form {
  height: 28px;
  padding-left: 20px;
  padding-right: 10px;
  background-color: #d9d9d9;
  border-radius: 15px;
}
.header__right__search_box form input[type="text"] {
  -webkit-appearance: none;
  width: 160px;
  height: 28px;
  font-size: 14px;
  line-height: 28px;
  background: #d9d9d9;
  border: none;
  vertical-align: top;
  box-sizing: border-box;
}
.header__right__search_box form input[type="image"] {
  -webkit-appearance: none;
  margin-top: 6px;
}
/*---------- .normal_header ----------*/.normal_header {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.normal_header.header {
  position: fixed;
  z-index: 5;
  top: 0;
}
.normal_header .header__logo a {
  height: 60px;
  padding-top: 12px;
  display: block;
}
.normal_header .header__right__nav__gnav > li > a {
  height: 60px;
  line-height: 60px;
}
.normal_header .header__right__nav__gnav > li.gnav_goteo {
  padding-top: 11px;
}
.normal_header .header__right__nav__gnav > li.gnav_goteo > a {
  width: 130px;
  height: 38px;
  color: #fff;
  line-height: 36px;
  border-radius: 2px;
  background-color: #7f2525;
}
.normal_header .header__right__search_box {
  padding-top: 16px;
}
.normal_header .c-social_bookmark {
  margin: 20px 25px 15px 0;
}
/*----------------------------------------------------------------------
 footer.css
 ----------------------------------------------------------------------*/.footer ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer__upper {
  padding: 45px 0 52px;
  background-color: #7f2525;
}
.footer__upper_left {
  float: left;
  width: 25%;
  margin-right: 60px;
  padding-right: 53px;
  border-right: 1px solid #fff;
}
.footer__upper_left .footer__logo {
  margin-bottom: 20px;
}
.footer__upper_left .footer__logo img {
  vertical-align: middle;
}
.footer__upper_left .footer__sns_link {
  letter-spacing: -0.4em;
  margin-bottom: 30px;
}
.footer__upper_left .footer__sns_link > * {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}
.footer__upper_left .footer__sns_link li {
  width: 30px;
  margin-right: 20px;
  text-align: center;
}
.footer__upper_left .footer__sns_link li:last-child {
  margin-right: 0;
}
.footer__upper_left .footer__sns_link li a {
  display: block;
}
.footer__upper_left .footer__sns_link li a img {
  vertical-align: bottom;
}
.footer__upper_left .footer__integration_site {
  display: block;
  height: 18px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 18px;
  background: url('../images/integration_link.png') no-repeat left 50%;
}
.footer__upper_left .footer__integration_site:hover {
  text-decoration: underline;
}
.footer__upper_right {
  float: left;
  letter-spacing: -0.4em;
}
.footer__upper_right > * {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}
.footer__upper_right > li {
  margin-right: 60px;
}
.footer__upper_right > li:last-child {
  margin-right: 0;
}
.footer__upper_right > li span {
  display: block;
  color: #fff;
}
.footer__upper_right > li .footer__upper_second_title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: bolder;
  line-height: 24px;
}
.footer__upper_right > li .footer__upper__third_title {
  opacity: 0.5;
  margin-bottom: 5px;
  font-size: 11px;
  line-height: 17px;
}
.footer__upper_right > li ul {
  margin-bottom: 20px;
}
.footer__upper_right > li ul a {
  font-size: 13px;
  line-height: 20px;
}
.footer__upper_right > li ul a:hover {
  text-decoration: underline;
}
.footer__under {
  padding: 45px 0 13px;
  background-color: #fff;
}
.footer__under ul {
  display: table;
  margin-bottom: 30px;
}
.footer__under ul li {
  display: table-cell;
  padding-right: 26px;
  vertical-align: middle;
}
.footer__under ul a img {
  width: auto;
  max-height: 40px;
  vertical-align: middle;
}
.footer__under .footer__copyright {
  margin: 0;
  font-size: 12px;
  text-align: center;
  color: #454545;
}
.footer .c-w1200 {
  width: 1200px;
  margin: 0 auto;
}
.footer .c-w1096 {
  width: 1096px;
  margin: 0 auto;
}
.c-clearfix {
  zoom: 1;
}
.c-clearfix:after {
  content: '';
  display: block;
  clear: both;
}
/*----------------------------------------------------------------------
 ----------------------------------------------------------------------*/