/* gnav *//*--------------------------------------------------
 common styles
 --------------------------------------------------*/.knows_tab ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
.knows_tab ul li {
  border-bottom: 1px solid #000;
}
