/* Gray Color */
$baseCol: #f2f2f2;
$grayCol01: #d9d9d9;
$grayCol02: #828282;
$grayCol03: #454545;

/* Alert Color*/
$alertCol: #e02d22;

/* Other Color */
$color01: #2f6f92;
$color02: #ec56a3;
$color03: #009FC9;
$color04: #c3c300;
$color05: #f8b42d;
$color06: #0093c4;
$color07: #e08e22;
$color08: #cc6600;
$color09: #009480;


