/*--------------------------------------------------
post, archive
--------------------------------------------------*/
.key_topic_box{
    margin: 0 auto;
}

.key_topic_box .group_title{
    position: relative;
    margin: 0;
    padding-left: 40px;
    color: #00a0ca;
    font-size: 16px;
    font-weight: bolder;
    line-height: 70px;
    background: url('images/cnt_ttl_bk.png') #ffffff no-repeat 20px 48%;
    border-bottom: 1px dashed #cccccc;
}

.key_topic_box .topic_box{
    padding:20px;
    overflow: hidden;
    zoom:1;
}
.key_topic_box .topic_box .thumbnail {
    width: 260px;
    margin-right: 20px;
    float: left;
}

.key_topic_box {
    width: 940px;
    padding-bottom: 20px;
    background-color: #ffffff;
    overflow:hidden;
    zoom:1;
}

.post .topic_pic_wrapper .topic_box h2 {
    margin: 15px 0 10px;
}

.post .topic_pic_wrapper .topic_box a.category:link,
.post .topic_pic_wrapper .topic_box a.category:hover,
.post .topic_pic_wrapper .topic_box a.category:visited {
    color: #cc6600;
    font-weight: bold;
    margin-bottom: 10px;
}

/*--------------------------------------------------
post
--------------------------------------------------*/
.post > h1.inner,
.contents_wrapper > h1.inner {
    margin-top: 30px;
    margin-bottom: 0;
}

.key_topic_box .topic_box > h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.key_topic_box .topic_box > p {
    margin-bottom: 0;
}


/*--------------------------------------------------
body.post-type-archive-data
--------------------------------------------------*/
body.post-type-archive-data .inner{
    padding:0 0 20px 0;
}

body.post-type-archive-data .data_viz{
    padding:0 0 30px 0;
}

/*
    archive 1column
*/

.archive_all {
    width:880px;
    background-color: #fff;
    padding:20px 30px 20px;
    margin:0 auto 20px;
    font-size:0.92em;
}
