/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


/*--------------------------------------------------
header
--------------------------------------------------*/
a.button.red {
    background: #b5161e url('images/red.png') repeat-x top;
    color: white;
    /*background: none;*/
    /*background: #b5161e;*/
    background: -moz-linear-gradient(top, #ea2f2c 0%, #b5161e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea2f2c), color-stop(100%,#b5161e));
    background: -webkit-linear-gradient(top, #ea2f2c 0%,#b5161e 100%);
    background: -o-linear-gradient(top, #ea2f2c 0%,#b5161e 100%);
    background: -ms-linear-gradient(top, #ea2f2c 0%,#b5161e 100%);
    background: linear-gradient(to bottom, #ea2f2c 0%,#b5161e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea2f2c', endColorstr='#b5161e',GradientType=0 );
}

a.button.aqua {
    background: none;
    background: #66cc99;
    background: -moz-linear-gradient(top, #66cc99 0%, #339966 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66cc99), color-stop(100%,#339966));
    background: -webkit-linear-gradient(top, #66cc99 0%,#339966 100%);
    background: -o-linear-gradient(top, #66cc99 0%,#339966 100%);
    background: -ms-linear-gradient(top, #66cc99 0%,#339966 100%);
    background: linear-gradient(to bottom, #66cc99 0%,#339966 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66cc99', endColorstr='#339966',GradientType=0 );
}

a.button.aqua:hover {
    background: #60c1bf url('images/aqua-active.png') repeat-x top;
}

a.button.red:hover {
    background: #e44133 url('images/red-active.png') repeat-x top;
}


