/*
    個別ページ共通
    single.php
*/
.single .contents_wrapper {
    padding-bottom: 40px;
}

.single .main_visual {
    margin-bottom: 30px;
}

.single .sidebar {
    width:290px;
    float:right;
}

/*
    single 2column
*/

.single_left {
    width:640px;
    float: left;
    background-color: #fff;
}
.single_left > .inner {
    width:auto;
    padding:25px 30px 30px;
}

.single_left .eyecatch {
    margin-bottom:15px;
    text-align:center;
}

.single .post_title {
    margin-bottom: 25px;
}

.single.single-tweet .post_title {
    margin-bottom: 15px;
}

.single .post_body {
    margin-bottom: 25px;
    font-size:0.92em;
}

.single .post_body .subject_pic {
    padding-top: 25px;
}



.single .thumbnail {
    margin-bottom:20px;
}

.single .post_title h1 {
    color: #666666;
    margin:10px 0;
    clear: both;
    line-height:1.4em;
    font-size:1.7em;
}

.single .meta {
    padding:0 10px 0 0;
}

.single .meta label{
    font-weight: bold;
    margin-right:10px;
}

.single .post_title p {
    margin:0;
    line-height:1.4;
}

.single .post_title .date {
    font-size:13px;
    margin:10px 10px 10px 0;
    float:left;
    color:#666666;
}

.single .post_title .category {
    float:left;
    margin:10px 10px 10px 0;
    font-size: 13px;
    color:#ff6600;
    font-weight:bold;
}

.single .post_title .category a{
    color:#ff6600;
}

.single .post_title .tags{
    margin-bottom:10px;
    font-size:12px;
    clear: both;
}

.single .post_title .tags span {
    margin-right:5px;
}

.single ul.link_set{
    margin-left:0;
    padding-left:0;
}

.single ul.link_set li{
    list-style-type: none;
}

.single ul.link_set li a {
    line-height: 2em;
    background: url('images/arrow_circle_r.png') no-repeat left 48%;
    padding-left: 20px;
}

.data_viz{
    padding:0 0 30px 0;
}

.single ul.credit {
    padding:0;
}

.single ul.credit li {
    list-style-type: none;
    margin-bottom: 5px;
}

.single .related_url {
    padding:10px 0 20px;
}



/*
    single 1column
*/

.single_all {
    width:940px;
    background-color: #fff;
    margin-bottom: 20px;
}

.single_all > .inner {
    width:auto;
    padding:25px 40px 35px;
}


/*
    関連しそうな記事
*/
.related_posts{
    margin-top:20px;
}

.related_posts.topic_pic_wrapper{
    margin:10px 0 0;
}
.related_posts_title {
    position: relative;
    background-color: #f5f3f0;
    color:#666;
    font-weight: bold;
}

.related_posts_title .title {
    margin:0 auto;
    padding:30px 0 0;
    width:940px;
}

.related_posts .topic_box {
    overflow: hidden;
    zoom: 1;
    padding: 20px;
    float: left;
    width: 272px;
    font-size: 14px;
}

.related_posts .inner {
    padding:15px 0 10px;
    overflow: hidden;
}

.related_posts .topic_box h2 {
    font-size: 14px;
    line-height: 1.5em;
}

.related_posts .topic_box {
    width:210px;
    padding:0 0 0 33px;
}

.related_posts .topic_box:first-child{
    padding:0;
}


/*
    sidebar
*/

.sidebar #gmap {
    width:288px;
    height:288px;
    border:1px solid #ccc;
}

.sidebar .side_block {
    margin-bottom:30px;
}

.sidebar .side_block .title {
    font-size:16px;
    margin-bottom:10px;
    margin-top: 0;
}

.sidebar .side_block.theme_list .category {
    color:#ff6600;
}

.sidebar .side_block.theme_list .title {
    color:#996600;
}

.sidebar .side_block.area_list .title {
    color:#339900;
}

.sidebar .theme_list ul,
.sidebar .area_list ul
{
    margin: 0;
    padding:0;
}

.sidebar .theme_list ul li {
    height:auto;
    /*padding: 10px 10px 10px 0;*/
    padding: 10px 10px 10px 20px;
    background-color:#fff;
    border-top: #ccc dashed 1px;
    list-style-type: none;
    word-wrap: normal;
    word-break: normal;
    font-weight: normal;
    color:#666666;
    font-size:14px;
}

.sidebar .theme_list ul li:first-child {
    border-top:none;
}

.sidebar .theme_list ul li a {
    line-height: 1.2em;
    background: url('images/arrow_circle_r.png') no-repeat left 50%;
    padding-left: 20px;
    /*margin-left: 20px;*/
}

.sidebar .theme_list ul li:hover,
.sidebar .theme_list ul li.active {
    background-color: #cce5e5;
}

.sidebar .theme_list ul li .children {
    margin-left: 20px;
    font-size: 14px;
}

.sidebar .theme_list ul li .children a {
    padding-left: 20px;
}

.sidebar .area_list .area_box {
    background-color:#fff;
    overflow: hidden;
    zoom: 1;
    padding:20px 20px 10px;
}

.sidebar .area_list ul li {
    float:left;
    list-style-type: none;
    padding:5px 14px;
    background-color: #cce5e5;
    margin: 0 10px 10px 0;
    font-size:14px;
}

.sidebar .area_list ul li a {
    color:#666666;
    display: block;
}

/*--------------------------------------------------
    .single-skills
--------------------------------------------------*/
.single-skills .single_left {
    width:100%;
}

/*--------------------------------------------------
    .single-data
--------------------------------------------------*/
/*
.single-data iframe {
    width: 940px;
    border: none;
}
.single-data iframe html {
    max-width: 940px;
}*/
